;; -*- mode: clojure -*-
{:server {:port "8080"}
 :db {:classname "org.sqlite.JDBC"
      :subprotocol "sqlite"
      :subname "qcast.db"}
 :infoq {:username "********"
         :password "********"}
 :api {:items-count 20}
 :feed {:items-count 50}
 :catcher {:update-interval 10800 ;; 3h
           :lookback-count 100}
 :log-level :info}
