;; -*- mode: clojure -*-
{:server {:port "8080"}
 :db {:classname "org.sqlite.JDBC"
      :subprotocol "sqlite"
      :subname "qcast.db"}
 :infoq {:username "infoqcast@gmail.com"
         :password "InfoQCast123"
         :auth-cookie ""}
 :feed {:items-count 50}
 :catcher {:update-interval 1800 ;; 30 mins
           :lookback-count 100}
 :log-level :info}
