* { padding: 0; margin: 0; }

body, html {
  background-color: #000;
  overflow: hidden;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  font-family: Helvetica, Arial, sans-serif;
  margin: 15px;
}

h2 {
  margin: 40px;
}

a {
  color: white;
  text-decoration: none;
}

#logo_1 {
  color: #3ea34c;
}

#logo_2 {
  color: #3677b8;
}

#content {
  position: absolute;
  top: 50%;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  margin-top: -160px;
  padding: 10px 10px 50px 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 10px #000;
  color: #000;
  font-family: arial, verdana, sans-serif;
  font-weight: 700;
  text-align: center;
}

#wall {
  position: absolute;
  background-image: url(img/wall.jpg);
  height: 250%;
  width: 250%;
  top: -75%;
  animation: scroll 25s linear infinite;
  -webkit-animation: scroll 25s linear infinite;
  -moz-animation: scroll 25s linear infinite;
  -o-animation: scroll 25s linear infinite;
  transform: perspective(1000px) rotateY(-20deg) translate3d(-500px, 100px, -1000px);
  -webkit-transform: perspective(1000px) rotateY(-20deg) translate3d(-500px, 100px, -1000px);
  -moz-transform: perspective(1000px) rotateY(-20deg) translate3d(-500px, 100px, -1000px);
  -o-transform: perspective(1000px) rotateY(-20deg) translate3d(-500px, 100px, -1000px);
  transform-origin: left center;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
}

@keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1250px; }
}

@-webkit-keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1250px; }
}

@-moz-keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1250px; }
}

@-o-keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1250px; }
}
