* { padding: 0; margin: 0; }

body, html {
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#content {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 200px auto;
  z-index: 2;

  border-radius: 10px;
  /* border: 1px solid black; */

  background-color: #fff;
  color: #000;
  font-family: arial, verdana, sans-serif;
  font-weight: 700;
}

#wall {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: -10%;
  top: -10%;
  width: 110%;
  height: 120%;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  -moz-animation: scroll 30s linear infinite;
  -o-animation: scroll 30s linear infinite;
  transform: perspective(1000px) rotateY(-10deg);
  -webkit-transform: perspective(1000px) rotateY(-10deg);
  -moz-transform: perspective(1000px) rotateY(-10deg);
  -o-transform: perspective(1000px) rotateY(-10deg);
}

@keyframes scroll {
  from { background-position-x: 0; }
 to { background-position-x: 1365px; }
}

@-webkit-keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1365px; }
}

@-moz-keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: 1365px; }
}

@-o-keyframes scroll {
  from { background-position-x: 0; }
 to { background-position-x: 1365px; }
}
